@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --width: 400px;
    --font-main: "Inter", sans-serif;
    --font-scale: 1em;
    --font-weight: 200;
    --background-color: #1a1a1a;       /* Very dark gray background */
    --heading-color: #d0d0d0;          /* Bright hacker green for headings */
    --text-color: #d0d0d0;             /* Light gray for text */
    --link-color: #00ff00;             /* Bright hacker green for links */
    --visited-color: #009900;          /* Darker green for visited links */
    --code-background-color: #333333;  /* Dark gray for code blocks */
    --code-color: #00ff00;             /* Bright hacker green for code text */
    --blockquote-color: #00ff00;       /* Bright hacker green for blockquote border */

  }

body {
    font-family: 'Hack', sans-serif;
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hack', sans-serif;
    color: var(--heading-color);
    font-weight: 100;
    margin-bottom: 0.3em;
}

a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}



#first{
  margin-right: 10px;
}
#second{
  margin-left: 10px;
}





main {
    margin-bottom: 20px;
    padding: 0px;
}

strong,
b {
    color: var(--heading-color);
}

button {
    margin: 0;
    cursor: pointer;
}

main {
    line-height: 1.6;
}

blockquote {
    font-style: italic;
    border-left: 1px solid var(--blockquote-color);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    color: var(--text-color);
}

footer {
    padding: 25px 0;
    text-align: center;
    opacity: 0.6;
}

.title:hover {
    text-decoration: none;
}

.title h1 {
    font-size: 1em;
    color: var(--text-color);
    display: inline-block;
    font-weight: 100;
}

.technologies-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-auto-flow: dense; /* Fill columns first */
    gap: 0px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.technologies-list li {
    padding-left: 10px;
    position: relative;
    color: var(--text-color);
}

.technologies-list li:before {
    content: "•";
    color: var(--link-color);
    position: absolute;
    left: 0;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr; /* One column */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projects-list li {
    padding-left: 10px;
    position: relative;
    margin-bottom: 0px;
    color: var(--text-color);
}

.projects-list li:before {
    content: "•";
    color: var(--link-color);
    position: absolute;
    left: 0;
}

.projects-list a {
    color: var(--link-color);
    text-decoration: underline;
}

.projects-list a:hover {
    color: var(--visited-color);
}

/* Responsive behavior */
@media (max-width: 600px) {
    .technologies-list {
        grid-template-columns: 1fr 1fr; /* One column on small screens */
    }
}
